@media screen and (max-width:400px){
#home{
    width: 400px;
    
    
}
}
@media (max-width: 767px) {
    .main{
      display: flex;
    flex-direction: column;
    align-items: center;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
  
        
    }
  }
  @media (min-width: 992px) {
    .basic{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
  
}